<div class="sidebar">
    <h2>AyudCraft</h2>
    <ul>
        <li><a href="/dashboard" class="<%= (activePage === 'dashboard') ? 'active' : '' %>">Beranda</a></li>
        <li><a href="/reviews" class="<%= (activePage === 'reviews') ? 'active' : '' %>">Data Penilaian</a></li>
        <li><a href="/profile" class="<%= (activePage === 'profile') ? 'active' : '' %>">Profile</a></li>
        <li><a href="/logout">Keluar</a></li>
    </ul>
</div>
<main class="main-content">